    {% extends "base.html" %}
    {% block content %}

    {% if method == 'GET' %}

            <h1><a href="{{url_for('hours')}}">Hours</a></h1>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="gethours">
                    <form action="{{ url_for('hours') }}" method="post">
                        <div class="form-group">
                            <select class="form-control" name="library">
                                <option value="ARCH">Architecture</option>
                                <option value="BUSINESS">Business</option>
                                <option value="LAW">Law</option>
                                <option value="MARINE">Marine</option>
                                <option value="MED">Medical</option>
                                <option value="MUSIC">Music</option>
                                <option value="RICHTER">Richter</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

    {% else %}
        <h1><a href="{{ url_for('hours') }}">Hours  for {{ library }}</a></h1>
        <table class="table">
            <tr>
                {% for day in calendar %}
                    <th scope="col">{{ day[0] }} <br/> {{ day[1] }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for day in calendar %}
                 <td>{{ day[2] }}</td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}

    {% endblock %}