    {% extends "base.html" %}
    {% block content %}

        <h1>API Dashboard</h1>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('sets') }}">Sets</a></li>
            <li class="list-group-item"><a href="{{ url_for('users') }}">Users</a></li>
            <li class="list-group-item"><a href="{{ url_for('courses') }}">Courses</a></li>
            <li class="list-group-item"><a href="{{ url_for('hours') }}">Hours</a></li>
            <li class="list-group-item"><a href="{{ url_for('primopermalink') }}">Primo Permalink Generator</a></li>
        </ul>

        <img src="{{ url_for('static', filename='superapi.jpg') }}" height=250px" />

    {% endblock %}