    {% extends "base.html" %}
    {% block content %}

            {% if method == 'GET' %}
                <h1><a href="{{ url_for('sets') }}">Sets</a></h1>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="getsetcontents">
                        <form action="{{ url_for('sets') }}" method="post">
                            <div class="form-group">
                                <select class="form-control" name="setid">
                                    <option value="8678452960002976">MUSIC Checked out Equipment</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                </div>
            {% else %}

                <h1><a href="{{ url_for('sets') }}">Set Results</a></h1>

                <table class="table">
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Copy ID</th>
                        <th scope="col">Location</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Due Date</th>
                    </tr>
                    {% for member in setmembers %}
                    <tr>
                        <td>{{ member[0] }}</td>
                        <td>{{ member[1] }}</td>
                        <td>{{ member[2] }}</td>
                        <td>{{ member[3] }}</td>
                        <td>{{ member[4] }}</td>
                    </tr>
                    {% endfor %}
                </table>

                {% if not setmembers %}
                <p>Nothing checked out</p>
                {% endif %}

            {% endif %}

    {% endblock %}